body {
  margin: 0;
  background-image: url("background.jpg");
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  color: #293236;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
