.form-control {
  background: rgba(222, 229, 240, 0.7);
}

ul {
  text-align: left;
  list-style-type: none;
}

.col {
  flex: 0;
}

.tempInfo {
  font-size: 12px;
}
.temperature {
  font-size: 64px;
}

.units {
  position: relative;
  top: -24px;
  font-size: 16px;
  font-weight: bold;
}

.units a {
  text-decoration: none;
  font-weight: lighter;
  color: black;
}
.units a:hover {
  color: white;
}
