.form-control {
  background: rgba(222, 229, 240, 0.7);
}

ul {
  text-align: left;
  list-style-type: none;
}

.col {
  flex: 0;
}

.tempInfo1 {
  font-size: 12px;
}
.temperature {
  font-size: 36px;
}
